<a href="https://colab.research.google.com/github/Daisuke0209/preprocessing/blob/master/190410_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#欠測データへの対処

### ライブラリのインポート

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer

### サンプルデータを作成
欠測値があるようなデータをpandasのデータフレームで作成

In [18]:
df=pd.DataFrame()
df['A']=[1,5,10]
df['B']=[2,6,11]
df['C']=[3,np.nan,12]
df['D']=[4,8,np.nan]
df

    A   B     C    D
0   1   2   3.0  4.0
1   5   6   NaN  8.0
2  10  11  12.0  NaN

### 各特徴量の欠測値をカウント

In [19]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

##欠測値を持つサンプルを取り除く

###欠測値を含む行を削除

In [20]:
df.dropna()

   A  B    C    D
0  1  2  3.0  4.0

dfの中身自体が変わる訳ではない

In [21]:
df

    A   B     C    D
0   1   2   3.0  4.0
1   5   6   NaN  8.0
2  10  11  12.0  NaN

###欠測値を含む列を削除

In [22]:
df.dropna(axis=1)

    A   B
0   1   2
1   5   6
2  10  11

## 欠測値を補完
欠測値を各列の平均値で補完

In [24]:
imr=Imputer(missing_values='NaN', strategy='mean',axis=0)
imr=imr.fit(df)
imputed_data=imr.transform(df.values)
imputed_data

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [10. , 11. , 12. ,  6. ]])