<a href="https://colab.research.google.com/github/Daisuke0209/preprocessing/blob/master/190410_categorical_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#カテゴリデータの処理

In [0]:
import pandas as pd

###テストデータの作成

In [2]:
df=pd.DataFrame([
    ['green','M',10.1,'class1'],
    ['red','L',13.5,'class2'],
    ['blue','XL',15.3,'class1']])
df.columns=['color','size','price','classlabel']
df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

## 順序特徴量のマッピング(ラベリング)

In [3]:
size_mapping={'XL':3,'L':2,'M':1}
df['size']=df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

## クラスラベルのエンコーディング

In [4]:
import numpy as np
class_mapping={label:idx for idx, label in enumerate(np.unique(df['classlabel']))}
class_mapping

{'class1': 0, 'class2': 1}

np.uniqueは重複してるものを省いて出力する関数

In [5]:
a=[1,1,2,3,3,3,5,6,6]
np.unique(a)

array([1, 2, 3, 5, 6])

In [6]:
#クラスラベルを整数に変換
df['classlabel']=df['classlabel'].map(class_mapping)
df

   color  size  price  classlabel
0  green     1   10.1           0
1    red     2   13.5           1
2   blue     3   15.3           0

クラスラベルを元の文字列表現に戻す

In [7]:
inv_class_mapping={v: k for k, v in class_mapping.items()}
inv_class_mapping

{0: 'class1', 1: 'class2'}

In [8]:
df['classlabel']=df['classlabel'].map(inv_class_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

### sklearnのLabelEncoderを使用
scikit-learnで実装されているLabelEncoderを使用することで、ラベル化を行うことも可能

In [9]:
from sklearn.preprocessing import LabelEncoder as LE
class_le=LE()
y=class_le.fit_transform(df['classlabel'].values)
y

array([0, 1, 0])

元の文字列に戻すには、inverse_transformを使用

In [10]:
y=class_le.inverse_transform(y)
y

array(['class1', 'class2', 'class1'], dtype=object)

## 名義特徴量でのone-hotエンコーディング

In [19]:
pd.get_dummies(df[['price','color','size']])

   price  size  color_blue  color_green  color_red
0   10.1     1           0            1          0
1   13.5     2           0            0          1
2   15.3     3           1            0          0